<section class="footer">
    <section class="info">
        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="grid">
                    <div class="col-12">
                        <p class="title-footer">CONTACTO</p>
                        <a target="_blank" class="contacto" href="https://wa.me/{{telefono}}">
                            <i class="pi pi-whatsapp"></i>
                            <p>{{telefono}}</p>
                        </a>
                        <a target="_blank" class="contacto" href="mailto:{{email}}">
                            <i class="pi pi-at"></i>
                            <p>{{email}}</p>
                        </a>
                        <a target="_blank" class="contacto" href="{{maps}}">
                            <i class="pi pi-map-marker"></i>
                            <p>{{direccion}}</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="grid">
                    <div class="col-12">
                        <p class="title-footer">SOBRE NOSOTROS</p>
                        <p class="nosotros">{{nosotros}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="meta">
        <a class="item">
            Copyright © {{app}} {{currentYear}}
        </a>
        <div class="item">
            <a [href]="instagram">
                <i class="pi pi-instagram"></i>
            </a>
            <a [href]="facebook">
                <i class="pi pi-facebook"></i>
            </a>
        </div>
    
    </section>
</section>