@import "../../globals.scss";

section.contact-top {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    height: 35px;
    justify-content: center;

    @media screen and (min-width: $md) {
        justify-content: space-between;
    }

    .group {

        display: flex;
        
        .item {
            align-items: center;
            color: var(--text-color);
            display: none;
            margin: 0 0.25rem;
            
            i {
                margin-right: 0.25rem;
                font-size: 12px;
            }
    
            @media screen and (min-width: $lg) {
                display: flex;
    
                p {
                    font-size: 12px;
                }
            }
    
            
        }

    }

    
    .paraguayo {
        align-items: center;
        display: flex;
        gap: 0.5rem;

        p {
            margin: 0;
        }

        .muscle {
            width: 20px;
            height: auto;
        }
        
    }
}