<section class="contact-top">
    <section class="group">
        <a class="item" href="https://wa.me/{{telefono}}">
            <i class="pi pi-whatsapp"></i>
            <p>{{telefono}}</p>
        </a>
        <a class="item" href="https://wa.me/{{telefono2}}">
            <i class="pi pi-whatsapp"></i>
            <p>{{telefono2}}</p>
        </a>
    </section>
    <a class="paraguayo">
        <p>100% Paraguayo</p>
        <img src="assets/images/py.png">
        <img class="muscle" src="assets/images/muscle.png">
    </a>
    <section class="group">
        <a class="item" href="https://wa.me/{{email}}">
            <i class="pi pi-at"></i>
            <p>{{email}}</p>
        </a>
        <a class="item" href="https://wa.me/{{email2}}">
            <i class="pi pi-at"></i>
            <p>{{email2}}</p>
        </a>
    </section>
</section>
