nav.navbar {
    align-items: center;
    background-color: var(--surface-800);
    display: flex;
    height: 70px;
    justify-content: space-between;

    img {
        height: auto;
        margin: 0 1rem;
        width: 120px;
    }

    .items {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        margin: 0 1rem;

        li a {
            cursor: pointer;
            color: var(--surface-0);
            font-size: 1.25rem;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
    }

    .links {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        
        .link {
            align-items: center;
            display: flex;
            padding: 0.5rem 0;
            color: var(--surface-0);
            width: max-content;
            i {
                color: var(--primary-color);
                margin-right: 0.5rem;
            }
    
            p {
                margin: 0;
            }
        }

    }
}