<nav class="navbar">
    <span>
        <img class="caza" src="assets/images/logo.png" alt="Caza">
        <img class="safi" src="assets/images/safi_logo.png" alt="Safi">
    </span>
    <ul class="items">
        <li *ngFor="let item of items">
            <a (click)="scrollToElement(item.id)">
                {{item.title}}
            </a>
        </li>
    </ul>
    <button (click)="showMenu = true" pButton pRipple label="Menú" class="p-button-sm" icon="pi pi-bars"></button>
</nav>

<p-dialog styleClass="modal modal-contacto" header="Contacto" [(visible)]="showContact" [modal]="true">
    <div class="grid">
        <div class="col-12">
            <section class="contacto-logos">
                <img src="assets/images/logo.png" alt="Logo">
                <img src="assets/images/safi_logo.png" alt="Safi">
            </section>
        </div>
        <div class="col-12">
            <section class="contacto-links">
                <a target="_blank" class="link" href="https://wa.me/{{telefono}}">
                    <i class="pi pi-whatsapp"></i>
                    <p>{{telefono}}</p>
                </a>
                <a target="_blank" class="link" href="https://wa.me/{{telefono2}}">
                    <i class="pi pi-whatsapp"></i>
                    <p>{{telefono2}}</p>
                </a>
                <a target="_blank" class="link" href="mailto:{{email}}">
                    <i class="pi pi-at"></i>
                    <p>{{email}}</p>
                </a>
                <a target="_blank" class="link" href="mailto:{{email2}}">
                    <i class="pi pi-at"></i>
                    <p>{{email2}}</p>
                </a>
                <a target="_blank" class="link" href="{{maps}}">
                    <i class="pi pi-map-marker"></i>
                    <p>{{direccion}}</p>
                </a>
            </section>
        </div>
    </div>
</p-dialog>

<p-sidebar styleClass="menu-mobile" (onHide)="showMenu = false" [position]="'right'" [visible]="showMenu" [closeOnEscape]="true" [blockScroll]="true">
    <section class="sidebar-menu">
        <div class="img-container">
            <img class="caza" src="assets/images/logo.png" alt="Logo">
            <img class="safi" src="assets/images/safi_logo.png" alt="Safi">
        </div>
        <ul>
            <li *ngFor="let item of items">
                <a (click)="scrollToElement(item.id)">
                    <i [className]="item.icon"></i>
                    {{item.title}}
                </a>
            </li>
        </ul>
    </section>
</p-sidebar>