<nav class="navbar">
    <img src="assets/images/logo.png" alt="Caza">
    <ul class="items">
        <li *ngFor="let item of items">
            <a (click)="scrollToElement(item.id)">
                {{item.title}}
            </a>
        </li>
    </ul>
</nav>

<p-dialog styleClass="modal modal-contacto" header="Contacto" [(visible)]="showContact" [modal]="true">
    <section class="contacto">
        <img src="assets/images/logo.png" alt="Logo">
        <section class="links">
            <a target="_blank" class="link" href="https://wa.me/{{telefono}}">
                <i class="pi pi-whatsapp"></i>
                <p>{{telefono}}</p>
            </a>
            <a target="_blank" class="link" href="mailto:{{email}}">
                <i class="pi pi-at"></i>
                <p>{{email}}</p>
            </a>
            <a target="_blank" class="link" href="{{maps}}">
                <i class="pi pi-map-marker"></i>
                <p>{{direccion}}</p>
            </a>
        </section>
    </section>
</p-dialog>