@import "../../globals.scss";

section.services {
    background-color: var(--surface-800);
    padding: 1rem 0.5rem;
    
    @media screen and (min-width: $md) {
        padding: 2rem;
    }
}

.card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;

    .card-body-title {
        color: var(--surface-0);
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .card-body-description {
        color: var(--surface-100);
        text-align: justify;
    }
}