@import "./globals.scss";

body {
    font-family: var(--font-family);
    margin: 0;
}

a {
    text-decoration: none;
}

.title {
    margin: 0.5rem 0;
    color: var(--surface-0);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    &.primary {
        color: var(--primary-color);
    }

    @media screen and (min-width: $md) {
        font-size: 3.5rem;
        margin: 1rem 0;
    }
}

.subtitle {
    color: var(--surface-100);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.card-service {
    background-color: var(--surface-800);
    box-shadow: none;
    color: var(--surface-0);
}

.card-project {
    background-color: var(--surface-0);
    box-shadow: none;
    color: var(--surface-800);
}

.project-image {
    border-radius: 0.5rem;
    cursor: pointer;
    height: 200px;
    object-fit: cover;
    width: 100%;

    &:hover {
        opacity: 0.75;
    }
}

.projects-main-carousel {
    .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        color: var(--primary-color);
    }
}

.modal {

    width: 95%;
    @media screen and (min-width: $sm){
      width: 70vw;
    }
    @media screen and (min-width: $md){
      width: 60vw;
    }
    @media screen and (min-width: $lg){
      width: 40vw;
    }
    @media screen and (min-width: $xl){
      width: 40vw;
    }

}

.modal-contacto .p-dialog-header, .modal-contacto .p-dialog-content {
    color: var(--surface-0);
    background-color: var(--surface-800) !important; 
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    color: var(--primary-color) !important;
}

.menu-mobile {
    background-color: var(--surface-800);
    color: var(--surface-0);
    border: none;
    width: 70vw !important;
}

.menu-mobile .p-sidebar .p-sidebar-active .p-sidebar-right {
    width: 70% !important;
}

.menu-mobile .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
    color: var(--primary-color);
}